
body {
    font-family: 'Geneva', sans-serif;
    margin:0;
    color: #4e4e4e;
    padding-bottom: 4em;
}



header {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    /*https://css-tricks.com/the-backgound-clip-property-and-use-cases/*/
    background: no-repeat center url('../images/apple_pie.jpg'); 
    background-size: cover; 
    color: white;
    font-size: 300%;
    font-weight: normal;
    text-align: center;
    padding: 250px;
}

.introText {
    margin-top: 2.5em;
    font-size: 1.5em;
}

.content-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


#ingredients h2,
#directions h2 {
    padding-top: 1em;
}


#recipeImg {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    height: 4em;
}

#cookingInfoImg  {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    height: 5em;
}

ul {
    list-style-type: none;
    font-size: 1.2em;
}

ul > li:before {
    content: "–"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
}

ol {
    list-style: none;
    padding-left: 15px;
    font-size: 1.2em;
    counter-reset: item; /* so the number starts at 1 agian*/
}

ol li:before {
    content: counters(item, ")") ") ";
    counter-increment: item;
    padding-right: 5px;
  }

