
body {
    font-family: sans-serif;
    margin:0;
    padding: 0;
    width: 800px;
    line-height: 3em;
    font-weight: 300;
    white-space: normal;
    
}

header {
    display: flex;
    height: 500px;
    font-weight:bold;
    background: no-repeat center/100% url('../images/apple_pie.jpg');
    /*https://css-tricks.com/the-backgound-clip-property-and-use-cases/*/

    }



.Title {
    font-size: 4em;
    color: white;
    font-weight: lighter;
    width: 800px;
    text-align:center ;
    padding-top: 6rem;

}

h2 {
    background-color: brown;
    font-size: 2em;
}

/* header {
    display: flex;
    justify-content: center;
}

.applePieImg {
    width: 800px;
    align-items: center;
    justify-content: center;
}




.introText {
    background-color: purple;
    font-size: 1.5em;
}

h2 {
    background-color: chocolate;
    font-size: 2em;
}

.Content {
    background-color: chocolate;
    font-size: 1.5em;
} */

ul {
    background-color:chartreuse;
    list-style-type: none;
}



ul > li:before {
    content: "–"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
  }


